@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
  font-family: "Dosis", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

:root {
  --green-green-1: #174826;
  --green-green-2: #1c692f;
  --green-green-3: #66c73d;
  --green-green-4: #437538;
  --green-tono-yellow: #ffde59;
  --green-tono-0: #fcfde5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.padre {
  display: flex;
  justify-content: space-between;
  /*  align-items: center; */
}
.container {
  max-width: 100vw;
  margin: 0 auto;
}
.bg-back {
  width: 100%;
  height: 100vh;
  background: var(--green-green-2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg-back-footer {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: rgb(2, 62, 116);
  background: linear-gradient(
    0deg,
    rgba(2, 62, 116, 1) 19%,
    rgba(19, 166, 221, 1) 100%
  );
  height: 5000px;
}
button {
  padding: 12px 40px;
  border-radius: 8px;
  border: none;
  background-color: #04aded;
  color: white;
  box-shadow: 0px 0px 7px -2px black;
  cursor: pointer;
  transition: all ease 0.5s;
  text-transform: uppercase;
}
button:hover {
  background-color: white;
  color: #04aded;
  font-weight: 600;
  transform: translateY(-2px);
  box-shadow: 0px 0px 7px -2px #8a8a8a;
}
#header {
  background: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#header-img {
  margin-left: 20px;
  float: left;
  height: 80px;
}

nav ul {
  overflow: hidden;
  clear: both;
  margin: 0;
  padding: 0;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  font-size: 1.15;
  text-decoration: none;
  color: black;
  padding: 10px;
}

a.highlight {
  display: block;
  font-size: 1.15;
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* menu icon */

.menu {
  margin-left: 15px;
}
input[type="color" i] {
  appearance: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}
input[type="color" i]::-webkit-color-swatch {
  border-radius: 12px;
  border: 1px solid #0000001f;
  box-shadow: 0px 0px 9px 0px #36363677;
}
#header .menu-icon {
  cursor: pointer;
  padding: 28px 20px;
  user-select: none;
  float: right;
}

#header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  top: 10px;
  transition: background 0.2s ease-out;
  width: 30px;
}

#header .menu-icon .nav-icon:before,
#header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

#header .menu-icon .nav-icon:before {
  top: 6px;
}

#header .menu-icon .nav-icon:after {
  top: -6px;
}

/* menu btn */

#header .menu-btn {
  display: none;
}

#header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

#header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

#header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

#header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-box > svg {
  width: 100px;
  height: 80px;
  object-fit: contain;
}
.container-home {
  width: 100%;
  background-color: #ffffeb56;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.form-1 {
  width: 80%;
}
.form-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  gap: 20px;
  margin-top: 90px;
  height: 100vh;
  position: relative;
}
.form-animation {
  font-weight: 600;
  color: #636363d7;
}
input[type="text"] {
  border: none;
  padding: 10px 20px;
  background-color: #e0e0e083;
  box-shadow: 0px 0px 0px black;
  border-radius: 8px;
}
.title-form {
  font-size: x-large;
  color: #333;
  font-weight: 600;
}
.contend-select {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}
.contend-select-image {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contend-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.center-card {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contend-form.back {
  align-items: center;
  gap: 15px;
  flex-direction: row !important;
  position: relative;
}
.card-color.contend-form.back {
  background: white;
  box-shadow: 1px 1px 9px -4px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column !important;
  /*   padding: 8px 10px; */
  padding: 5px;
  width: 100px;
  height: 100px;
  position: relative;
}
.card-color.contend-form.back.gradient {
  width: fit-content !important;
}
.card-color.contend-form.back.gradient > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.center-color {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.center-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
}
.button-animation {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-animation > div:nth-child(1),
.button-animation > div:nth-child(2) {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.button-animation > div:nth-child(1) svg,
.button-animation > div:nth-child(2) svg {
  width: 25px;
}
.select-image {
  width: 70px;
  background-color: white;
  box-shadow: 0px 0px 7px -2px black;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.select-image:hover {
  transform: translateY(-10px);
}
.select-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.view-animation {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: #04aded;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.view-animation:hover {
  background-color: white;
  color: #04aded;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.384);
  transform: translateY(-5px);
}
.view-animation.back {
  left: 20px !important;
  top: 100px !important;
  z-index: 100;
  width: fit-content;
}
.rounded-effect {
  border-radius: 100%;

  position: absolute;
  right: 0;
  background-color: #000000;
  animation: effect-burbuja 0.7s ease-in both,
    effect-burbuja-expand 0.5s 0.6s ease-in both;
}
.message-error {
  position: absolute;
  bottom: -30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: red;
  animation: fade-error 0.5s ease-in-out both;
}
@keyframes fade-error {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes effect-burbuja {
  0% {
    opacity: 0;
    width: 10px;
    height: 10px;
    right: 0;
  }
  100% {
    opacity: 1;
    height: 100px;
    width: 100px;
    right: 50%;
  }
}
@keyframes effect-burbuja-expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(25);
  }
}
@media (max-width: 1250px) {
  .modal-container {
    max-width: 50%;
  }
}
@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  div.form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
  .modal-container {
    max-width: 70%;
  }
}
@media only screen and (max-width: 984px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .flex-item {
    flex: 0 0 100%;
    margin-bottom: 1em;
    width: 100%;
  }

  .package:hover {
    box-shadow: none;
    transform: none;
  }

  .pricing-button {
    padding: 0.75em 1.5em;
  }
}

@media screen and (min-width: 820px) {
  .container {
    max-width: 80vw;
  }

  .menu-container {
    max-width: 100vw;
  }

  header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
  }

  #header {
    background: white;
  }

  #header-img {
    margin-left: -100px;
  }

  .menu {
    margin-top: 20px;
  }

  nav {
    margin-right: -100px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    float: left;
    list-style: none;
    padding: 0.5em 1em;
  }
  nav ul li a {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 0;
  }

  a.highlight {
    font-size: 1em;
    text-decoration: none;
    color: #333;
    padding: 0.5em 1em;
  }

  #header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  #header .menu-icon {
    display: none;
  }

  .highlight {
    /*   border: 1px solid #333; */
    border-radius: 50px;
  }

  .highlight:hover,
  .special:hover {
    background: var(--green-green-3);
    color: white;
    border-bottom: none;
  }

  main {
    flex-flow: row;
  }

  .hero {
    margin-top: 150px;
    text-align: left;
  }

  .hero h1 {
    font-size: 4em;
    line-height: 55px;
  }

  .hero p {
    font-size: 1.3em;
    margin: 0.5em 0 1em 0;
    padding: 0;
  }

  figure svg {
    width: 500px;
    margin: 0;
  }

  iframe {
    height: 30vw;
    width: 55vw;
  }
}
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  h1 {
    font-size: 24px;
  }
  .scroll {
    overflow: auto;
  }
}
@media (max-width: 600px) {
  .container .grid-cards {
    flex-direction: column;
  }
  .modal-container {
    max-width: 80%;
  }
  .modal-header p {
    font-size: 18px;
    color: white;
    font-weight: 400;
  }
  .modal-header svg {
    width: 20px;
    cursor: pointer;
  }
}
